
.header{
  flex-direction: row;
  justify-content: space-around;
}
.navbar{
  flex-direction: row;
}
.burger{
  //position: relative;
  transition: .8s;
  cursor: pointer;
}
.burger:hover{
  background: grey;
  transform: rotate(360deg);
}
.toggle-menu{
  flex-direction: row;
}
