//fonts
$google-font: 'https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,800';

$fontFamily: 'Nunito Sans', sans-serif;

$baseFontSize: 16px;

$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";

 // Colors

$black: #000000;
$white: #ffffff;




