.container-3{
  max-width: 1440px;
  background-color: #f8f9fa;
  @include e(item){

    @include m(box) {
      padding: 15px;
      cursor: pointer;
    }
    .container-3__item_box:hover {
      background-color: $white;
      border-radius: 10px;
      box-shadow: -20px 20px 5px 1px #eaebec;
      padding: 15px;
      transition: .5s;
      transform: translateZ(20px);
    }
  }
}
.item1{
  transition: 1s;
  transform: rotateX(30deg) rotateZ(-30deg) rotateY(30deg);
  transform-style: preserve-3d;
}
.item1-origin{
  transform: rotate(0);
  .container-3__item_box:hover{
    box-shadow: 0 1px 1px 1px #eaebec;
    transform: scale(1.1);
  }
}
.banner{
  background: url(#{$imgPath}Background.png)no-repeat;
  min-height: 280px;
  max-width: 1440px;
  color:$white;
  @include e(item){
    text-align: left;
    margin-left: 10%;
    width: 70%;
    .btn1{

    }
    @include m(title){
      font-size: 3vw;
      padding-bottom: 1em;
    }
    @include m(description){
      font-size: 2vw;
    }

  }
}
@media only screen and (max-width: 768px){
  .container-3{
    flex-direction: column;
    text-align: center;
    @include e(item){
      margin-left: 30px;
      padding: 30px;
        @include m(box){
          //width: 70%;
          .icon-box{
            width: 50px;
            height: 50px;
          }
        .box_content{
          text-align: left;
          margin-left: 20px;
          width: 70%;
        }
      }
    }
  }
}