body{
  font-family: $fontFamily;
}
.btn1{
   color:$white;
   background: linear-gradient(to right, #ff8e64, #ffe641);
   border-radius:6px;
   opacity: .9;
  position: relative;
 }
/*.btn1:before{
    //content: attr(data-text);
    position:absolute;

  //margin:0 -10px;
    background:linear-gradient(90deg, #d630f2, #ff002f, #e4ff00, #03a9f4, #d630f2);
    background-size:300%;
    overflow:hidden;
    transition:width 2s;
    animation: animate 5s linear infinite;
    width:0;
    -webkit-background-clip: border;

  }*/
.btn1:hover{
  background: linear-gradient(to right, #ff8e64, #ffe641);
  background-size: 200% 200%;
  animation: bgGradient 4s linear infinite;
}
@keyframes bgGradient{
  0%{
     background-position: 0 50%;
   }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.btn2{
  color:$white;
  background: linear-gradient(to right, #009fc5, #3cecb0);
  border-radius:6px;
  opacity: .9;
}
footer{
  max-width: 1440px;
  margin: 25px auto;
  padding: 0 25px;
  .footer{
font-size: 1vw;
    .logo{
      font-weight: 800;
      cursor: pointer;
    }
    .copyright{
      text-align: center;

      .heart{
        width: 10px;
        animation: heart 1s infinite;
      }
      @keyframes heart {
        0%{transform: scale(1)}
      100%{transform: scale(1.2)
      }

      }
    }
    .media{
      border: 1px solid lightgrey;
      border-radius: 5px;
      img{
        width: 15px;
        height:15px;
        margin: 10px;
      }

    }
    .media a{
      border-right: 1px solid lightgrey;
    }
    .media a:last-child{
      border-right: none;
    }

  }
}
@media only screen and (max-width: 768px) {
  .container-top__content{
    flex-direction: column;

    @include m(item){
      font-size: 3vw;
      margin: 20px auto;
      .btn{
        font-size: 2.5vw;
        margin: 0 5px;
        padding: 10px;
      }
      .text{
        margin: 20px auto;
      }
      .logo{
        display: block;
        margin: auto;
      }
    }

  }
  .copyright{
    margin: 20px 0;
  }
}

