.video{
  max-width: 1440px;
min-height: 50vh;
  color: $white;
  background: url(#{$imgPath}bg2.png)no-repeat;
  background-size:  cover;
  text-align: center;
  @include e(title){
    font-size: 2vw;
  }
  @include e(text){
    font-size: 1vw;
    max-width: 40%;
    margin: 1em auto;
  }
  .circle{
    width: 70px;
    height: 70px;
    border:1px solid $white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;



    .play-btn{
      background-color: red;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      overflow: hidden;
      //max-width: 70px;
      cursor: pointer;
      vertical-align: center;

    }
  }
  .circle:hover{
    animation: grow 1s infinite;
  }
}
@keyframes grow {
  0% {transform: scale(1)}
  100% {transform: scale(1.3)}

}